!!!
%html{lang: "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
      \DevOps Valencia: #{@item[:title]}
    %meta{:content => "DevOps Valencia es una reunión mensual centrada en temas de operaciones, automatizacion y desarrollo", :name => "description"}/
    %meta{:content => "Devops Valencia crew", :name => "author"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "https://valenciadevops.github.io/", :property => "og:url"}/
    %meta{:content => "DevOps Valencia: a meetup for Devops and Sysadmins.", :property => "og:title"}/
    %meta{:content => "https://valenciadevops.github.io/img/logo_event_valencia.png", :property => "og:image"}/
    %meta{:content => "DevOps Valencia es una reunión mensual centrada en temas de operaciones, automatizacion y desarrollo", :property => "og:description"}/
    %link{rel: "preload", as: "font", href: "/fonts/rambla-v4-latin-regular.woff", type: "font/woff", crossorigin: true}
    %link{rel: "preload", as: "font", href: "/fonts/rambla-v4-latin-regular.woff2", type: "font/woff2", crossorigin: true}
    %link{:rel=>"stylesheet", :type => "text/css", :href => "/stylesheets/all.css", :media => "screen"}
    %script{
      "type": "text/javascript",
      "async": true,
      "src": "https://www.googletagmanager.com/gtag/js?id=G-C02YHY1S14"
    }
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-C02YHY1S14');
  %body
    != render '/partials/_header.*'
    != yield
    != render '/partials/_footer.*'
